:root {
	--text-super: 55px;
	--text-large: 36px;
	--text-medium: 22px;
	--text-small: 16px;
	/* --font-body: 'Lato', sans-serif;
    --font-heading: 'Pattaya', cursive; */
	--light-grey: #d7d7d7;
}

/******************************************/

  
.form-img{
  height: auto;
  position: fixed;
  right: 0;
}

.form-content {
	text-align: center;
	display: block;
}

.form-signup {
	margin-top: 10%;
	width: 40vw;
	height: 57vh;
	border-radius: 25px;
	/* box-shadow: 3px 3px 3px #b8b6b6; */
	position: relative;
	/* background: var(--light-grey); */
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 30%;
	transform: translate(-50%, -50%);
}

.form-login {
	margin-top: 7%;
	width: 40vw;
	height: 57vh;
	border-radius: 25px;
	/* box-shadow: 3px 3px 3px #b8b6b6; */
	position: relative;
	/* background: var(--light-grey); */
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 30%;
	transform: translate(-50%, -50%);
}

.form-box {
	position: absolute;
	left: 50%;
	top: 47%;
	transform: translate(-50%, -50%);
}

.form-input {
	width: 27vw;
	height: 3vh;
	border-radius: 5px;
	border: 0;
	padding: 2.7% 2.7% !important;
	text-align: center;
	border: 1px solid transparent;
	background-color: var(--light-grey);
}

.form-input:hover {
	/* cursor: pointer; */
	border: 1px solid #803BEC;
}

.form-input[type="text"]:focus {
	outline: #803BEC;
}

.form-inputs {
	margin-bottom: 7%;
	position: relative;
	align-items: center;
}

.form-inputs p {
	font-size: 0.5rem;
	color: #f00e0e;
	margin-bottom: -5%;
}

.form-input-btn {
	width: 50%;
	border-radius: 5px;
	color: #fff;
	background: linear-gradient(to right, #ba86dd, #8d4ff0);
	border: 0;
	padding: 3.5% 3.5% !important;
	margin-bottom: 2vh;
	text-align: center;
}

.form-input-btn:hover {
	cursor: pointer;
	background: linear-gradient(
		90deg,
		rgb(173, 86, 245) 0%,
		rgb(190, 68, 247) 100%
	);
	transition: all 0.4s ease-out;
}

.form-input-btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.form-input-login a:hover {
	text-decoration: none;
	color: #8d4ff0;
	font-weight: 600;
}
