@import url("https://fonts.googleapis.com/css2?family=Festive&family=Lobster&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");

 .bg-image{
    /* background-image: url("../pictures/sea-blur.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    height: 100%;
    width: 100%;
    position: absolute;
  }
  
  .slogan {
    position: absolute;
    font-family: "Fasthand", cursive;
    left: 10%;
    right: 10%;
    top: 30%;
  }
  
  .slogan p {
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 82px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #27B9F2;
  }
  
  .explanation {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 50%;
  }
  
  .explanation p {
    font-family: "Merienda", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: rgb(109, 109, 109);
  }
  
  .homePageImage {
    position: absolute;
    width: 482px;
    height: 586px;
    left: 55%;
    top: 20%;
  }
  
  .homePageImage img {
    width: 100%
  }

  /* .home-font {
    font-family: "Permanent Marker", cursive;
    font-size: 25px;
  }
   */
  
  
  