.home-body {
  position:absolute;
  top:17%;
  bottom:0;
  width:50%;
  background-size:cover;
}

.home-left {
  left:0;
  width: 40%;
  background-image:url("../images/grey-background.jpg");
}

.home-left h2 {
  margin-left: 20%;
  margin-top: 20%;
  font-size: 3rem;
}

.home-slogan {
  margin-left: 20%;
  font-size: 1.5rem;
}

.home-features{
  text-align: right;
  margin-top: 10%;
}

.home-features p{
  font-size: 1rem;
}

.home-purple-boxline {
    margin-left: 20%;
    margin-top: 8%;
    width: 80%; 
    height: 2%;
    background-color: #803BEC;  
}

.home-right {
  right:0;
  width: 60%;
  background-image:url("../images/home-right.png");
}