.sidenav{
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #8361C0;
    overflow-x: hidden;
    padding-top: 20px;
    opacity: 1;
    transition: 0.3s;
}
.sidenav :hover{
    opacity: 1;
}

.sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

.sidenav a:hover{
    font: bold;
}