.navButtons{
    width: 100px;
    height: 30px;
    position: absolute;
    display: inline-block;
    border: 2px solid #000000;
    border-radius: 10px;
    align-items: center;
    display: flex;
}

.navButtons:hover {
    background-color: #D8E374;
    border: 2px solid #2097F6;
}
  
.navButtons a {
    font-style: normal;
    font-weight: 600;
    font-size: 1.3em;
    line-height: 35px;
    letter-spacing: -0.02em;
    color: #070300;
    text-decoration:none;
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
}
  
.navButtons a:hover {
    color: #680707;
}